
<%- include("../includes/head"); %>
<% layout("./layouts/boilerplate") %>


    <div class="main-content">
       <div class="card card-hover d-flex p-2" style="margin-right: 0px;"><a href="/auth/Employee/login"><img src="./Employee.jpg" alt="Employee"><div class="label">Employee</div></a></div>
       <div class="card card-hover d-flex p-2"><a href="/auth/Customer/login"><img src="./image.png" alt="Customer"><div class="label">Customer</div></a></div>
    </div>
    


