<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serenity Bank</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            margin: 0;
            flex-direction: column;
        }
        .container {
            text-align: center;
        }
        .logo {
            width: 650px;
            margin-top: 10rem !important;
            border-radius: 3.2rem;
            /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);  */
        }
        .get-started-btn {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            /* margin-bottom: 4rem; */
        }
        .get-started-btn:hover {
            background-color: #45a049;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
        }
        
</style>

<div class="image-blurred-edge"></div>
    </style>
</head>
<body>
    <div class="container">
        <img src="./IMG_20240601_013349.png" alt="Serenity Bank Logo" class="logo">
        <br><BR>
        <button class="get-started-btn" onclick="window.location.href='/auth'">Get Started</button>
    </div>
</body>
</html>