<%- include("../includes/head"); %>
<% layout("./layouts/boilerplate") %>

    
        <div class="Container_RL offset-4 mt-3 " style="background-color: white;">
            <form action="/auth/Customer/login" method="post" class="login">
                <div class="input-box">
                    <div class="title">Customer Login Page</div>
                    <label for="username">Customer Id:</label>
                    <input type="text" name="username" id="username" placeholder="Enter Customer ID" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter password" required><br><br>
                    <button type="submit" id="login">Login</button>
                </div>
            </form> 
        </div>

        <script src="/js/dashboard.js"></script>
    

